<div style="width:50%;margin-left:20%;margin-top:30px">
  <h2>ユーザープロフィールの投稿利用一覧</2>
</div>

<table class="table table-borderless" class="table table-borderless" style="width:70%;margin-left:15%;margin-top:50px">
  <tbody>
    <tr class="table-secondary">
      <td>ユーザーID</td>
      <td>名前</td>
      <td>年齢</td>
      <td>住所</td>
      <td>削除</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= user.last_name %> <%= user.first_name %>
      </td>
      <td>
        <%= user.age %>
      </td>
      <td>
        <%= user.address %>
      </td>
      <td>
        <%= link_to '削除する', admin_post_path(user.id), method: :delete, class: "btn btn-danger" %></td>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>