<!DOCTYPE html>
<html>
  <head>
    <title>CampGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>LOGO</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <!--adminでログインしているときのヘッダー-->
                <%= link_to admin_camp_facilities_path do %>
                  <i class="fas fa-home"></i>キャンプ一覧
                <% end %>
                <%= link_to admin_genres_path do %>
                  <i class="fas fa-home"></i>ジャンル一覧
                <% end %>
                <%= link_to admin_posts_path do %>
                  <i class="fas fa-home"></i>ユーザー管理一覧
                <% end %>
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="fas fa-home"></i>ログアウト
                <% end %>


            <!--customerでログインしているときのヘッダー-->
            <% elsif user_signed_in? %>
              <li>
                <%= link_to about_path do %>
                  <i class="fas fa-user"></i>about
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <i class="fas fa-users-slash"></i>会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out"></i>ログアウト
                <% end %>
              </li>
            <% else %>

            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>